.first-row {
  display: flex;
  flex-direction: row;
  border: 1px solid pink;
}

.first-row-item {
  height: 40px;
  background-color: rgb(96, 165, 138);
  color: white;
  border: 1px solid black;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-item {
  border: 1px solid black;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(179, 193, 187);
  margin: 0;
  height: 30px;
}

.selector {
  width: 60px;
  text-align: center;
  margin-top: 0px;
  margin-left: 15px;
}

.selector-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.user-row {
    display: flex;
    flex-direction: row;
}